@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:ital,wght@1,700&display=swap');


header{
    margin:0;
}

body {
  font-family: "Roboto" , sans-serif ;
background-color: #f5f5f5; 
}

/*----Headings---*/
h1 {
    color:#f9a825;
    font-family:"Roboto" , sans-serif  ;
    text-transform: uppercase;
    text-align: center;
    background-color: #000000;
    
    
}

h2{
    font-family:sans-serif;
    font-size: 150%;
    }

h3{
    font-family: sans-serif;
    
}

.menu-title{
   font-family: sans-serif;
   position: relative;
   left: 20px;
   font-size: 200%;
   text-transform: uppercase;
 
}



/*-------section---*/
.h3-text{
    font-family:"Exo", sans-serif  ;
    font-size: 120%;
}

.address{
   position: relative;
   bottom: 300px;
}


/*------NavBar---*/
  
 .nav {
    font-size:100%;
    background-color: #000000;
    color:#fff;
    text-align: center;
    
 }

 .nav-link{
    color: #fff;
    font-family: Arial  ;
    text-align: center;
 }


 /*----Images----*/
 
 
 .card-img-top{
   width: 100%;
   height: 15vw;
   object-fit: cover;
 }
  .card-text{
  font-family: arial;
  }
/*-----Contact Form----*/
.contact{
   font-size: 200%;
   font-family: arial;
}

.detail-text{
 font-size: 20px ;
}

.btn{
   position: relative;
   left: 140px;
   padding:30px;
  }

 .float-start{
   height: 100%  ;
 }

 


 /*----Footer--*/

 h5{
    margin: 0;
 }

 .uppercase-subheading{
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fff;
 }

 footer{
    background-color: #212121  ;
 }

 footer p{
    color:#fff;
    font-family:sans-serif ;
 }

 
